*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Lato";
}

.aboutMe-section{
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid #000; */
}

.info-container{
    /* border: 1px solid #000; */
    margin: 0px 15px;
    padding: 0 10px;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    max-width: 800px;
}

.info-container-presentation{
    /* border: 1px solid #000; */
    padding: 0px 10px;
}

.info-container-presentation h1{
    margin-bottom: 10px;
    font-size: 2.5rem;
}

.text-gray{
    color: gray;
}

.CV-btn{
    margin: 20px 40px;
    background-color: var(--color-green);
    padding: 10px 65px;
    border-radius: 10px;
    
}

.CV-btn a{
    /* background-color: var(--color-green); */
    padding: 5px 10px;
    color: #fff;
}

.info-container-img{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.img-container {
    width: 250px;        
    height: 250px;       
    overflow: hidden;  
    border-radius: 50%;  
    margin: 20px;
    
    box-shadow: 0px 2px 8px rgba(0,0,0,0.12);
}

.profile-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
}


@media (min-width: 768px){
    .info-container{
        flex-direction: row;
    }

    .img-container{
        width: 300px;
        height: 300px;
    }

    .info-container-presentation h1{
        font-size: 3rem;
    }

    .info-container-presentation h1, .info-container-presentation p{
        text-align: start;
    }



}