*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Lato";
    scroll-behavior: smooth;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section{
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inicie-container{
    /* border: 1px solid #000; */
    margin: 0px 15px;
    padding: 0 10px;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    max-width: 800px;
}

.inicie-container-presentation{
    /* border: 1px solid #000; */
    padding: 0px 10px;
    /* border: 1px solid #000; */
    position: relative;
}

.inicie-container-presentation h1{
    margin-bottom: 10px;
    font-size: 2.5rem;
}

.text-gray{
    color: gray;
}

.CV-btn{
    margin: 20px 40px;
    background-color: var(--color-green);
    padding: 10px 65px;
    border-radius: 10px;
    
}

.CV-btn a{
    /* background-color: var(--color-green); */
    padding: 5px 10px;
    color: #fff;
}

.inicie-container-img{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.img-container {
    width: 250px;        
    height: 250px;       
    overflow: hidden;  
    border-radius: 50%;  
    margin: 10px;
    
    box-shadow: 0px 2px 8px rgba(0,0,0,0.12);
}

.profile-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
}


@media (min-width: 768px){
    .inicie-container{
        flex-direction: row;
    }

    .img-container{
        width: 300px;
        height: 300px;
    }

    .inicie-container-presentation h1{
        font-size: 3rem;
    }

    .inicie-container-presentation h1, .text-presentation{
        text-align: start;
    }

}


.aboutMe-container{
    /* border: 1px solid #000; */
    width: 95%;
    max-width: 800px;
}

.aboutMe-container-title{
    text-align: center;
    /* border: 1px solid #000; */
    margin: 3px 0px 0px 10px;
}

.aboutMe-container-title h2{
    font-size: 2rem;
    margin-bottom: 5px;
}

.aboutMe-container-subSections{
    /* border: 1px solid #000; */
    display: grid;
    grid-template-columns: (1, 1fr);
    grid-template-rows: (3, 1fr);
    
}

.subSection-container{
    /* border: 1px solid #000000; */
    min-height: 200px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    box-shadow: 0px 1.5px 3px #555a;
    border-radius: 5px;
    margin: 15px 10px;
}

.subSection-title{
    /* border: 1px solid #000; */
    margin: 5px;
    margin-bottom: 0px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding: 7.5px;
}

.subSection-title h3{
    font-size: 1.5rem;
}

.subSection-info p{
    margin: 0px 5px 10px 5px;
    font-size: 1rem;
    padding-left: 5px;
}

.subSection-title svg{
    color: var(--color-green);
    margin-right: 5px;
}

.experiencie-container{
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.experiencie-title h4{
    margin: 10px 0px 0px 10px;
    font-size: 1.1rem;
    
}

.experiencie-title h5{
    margin-left: 13px;

}

.experiencie-description p{
    font-size: 1.2rem;
    margin-left: 10px;
}

.skills-subSection{
    padding-bottom: 10px;
}

.stack-title{
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    padding-left: 15px;
}


.stack-title h4{
    font-size: 1.3rem;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 4px;
}

.stack-technologies{
    margin: 5px 0px;
    display: flex;
    flex-wrap: wrap;
    padding-left: 15px;
}

.tech{
    margin: 5px 7px;
    background-color: #95d199;
    color: #fff;
    padding: 3px 10px;
    border-radius: 20px;
    font-size: 1.1rem;
    cursor: pointer;
}

.tech h5{
    color: var(--color-green);
}

.tech:hover{
    box-shadow: 2px 2px 3px var(--color-green);
}

.skills-subSection .subSection-info{
    margin-right: 10px;
}

@media (min-width: 768px){
    .aboutMe-container-subSections{
    /* border: 1px solid #000; */
    display: grid;
    grid-template-columns: (2, 1fr);
    grid-template-rows: (3, 1fr);
    
    }
    .experience-subSection {
    grid-column-start: 1;
    grid-row-start: 2;
    }

    .skills-subSection{
        grid-row: span 2 / span 2;
        grid-column-start: 2;
        grid-row-start: 1;
    }

    .tech{
        font-size: 1rem;
    }
    
}

.proyects-section{
    margin-top: 300px;
    max-width: 800px;
}

.proyects-container{
    /* border: 1px solid #000; */
    box-shadow: 0px 2px 4px #0004;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 90%;
    margin: 40px;
}

.proyects-container-title{
    margin-top: 20px;
}

.proyects-container-proyects{
    /* border: 1px solid #000; */
    padding: 10px;
    width: 100%;
    display: grid;
    rid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 10px;
}

.proyect{
    width: 100%;
    margin: 10px auto;
    max-width: 90%;
    height: 200px;
    /* border: 1px solid #000; */
    box-shadow: 0px 2px 4px #0004;
}

@media (min-width: 768px){
    .proyects-container-proyects{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
    .proyect{
        max-width: 450px;
        min-width: 350px;
        margin: 10px auto;
    }
}