.footer{
    margin-top: 300px;
    height: 90px;
    width: 100%;
    background-color: #ccc;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer-texts{
    display: flex;
    flex-wrap: wrap;
}

.footer-texts h3{
    text-align: center;
    margin: 5px;
    font-family:"Lato";
    font-size: 16px;
    width: 100%;
}